<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skate & Bikes - Inicio</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>

<header class="header">
    <h2>Skate & Bikes</h2>
    <nav>
        <a href="index.html">Inicio</a>
        <a href="login.html">Iniciar Sesión</a>
        <a href="register.html">Registrarse</a>
    </nav>
</header>

<section class="hero">
    <h1>Bienvenido a la tienda Skate & Bikes</h1>
</section>

<div class="admin-container">
    <h3>Productos destacados</h3>

    <div class="card">
        <img src="static/imagenes/bici1.jpg" width="100%">
        <h3>Bicicleta profesional</h3>
        <p>₡150.000</p>
        <button class="btn">Agregar al carrito</button>
    </div>
</div>

<footer class="footer">
    <p>© 2025 Skate & Bikes</p>
</footer>

</body>
</html>
