<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Skate & Bikes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<header class="header">
    <h2>Skate & Bikes</h2>
    <nav>
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('register') }}">Registrarse</a>
    </nav>
</header>

<div class="form-container">
    <div class="form-card">
        <h3>Iniciar Sesión</h3>
        <label>Correo:</label>
        <input type="email" placeholder="correo@example.com">

        <label>Contraseña:</label>
        <input type="password" placeholder="********">

        <button class="btn">Entrar</button>
    </div>
</div>

<footer class="footer">
    <p>© 2025 Skate & Bikes</p>
</footer>

</body>
</html>
